body{
    margin: 0;
}

#logo{
    height: 5em;
    width: 8em;
    position: relative;
    left: 4em;
    margin: 2em;
}
.form-1{
    translate: 155% 24%;
    text-align: center;
    height: 100%;
    border: 2px solid black;
    border-radius: 1em;
    width: 50%;
    background-color: white;
    color: black;
}

.log-in{
    display: inline-block;
    height: 36em;
    width: 50%;
}

#username{
    position: relative;
    left: -12.25em;
    margin-top: 10px;
}

#password{
    position: relative;
    left: -7em;
}

.input{
    height: 2.2em;
    width: 24em;
    margin-bottom: 30px;
    margin-top: 8px;
}

#log-in-button{
    margin-top: 9px;
    height: 2.6em;
    width: 24.5em;
    margin-bottom: 10px;
    background-color: #280F74;
    color: white;
    border: 2px solid #280F74;
}

#swap{
    position: relative;
    left: 4.4em;
}

.forget-password{
    color: #280F74;
    position: relative;
    right: 3.7em;
}

.google-icon{
    position: relative;
    bottom: 0.1em;
    right: 0.5em;
    height: 2em;
    width: 2em;
    opacity: 45%;
}

.google-icon:hover{
    opacity: 100%;
    transition: 0.2s;
}

.google-button{
    height: 2.2em;
    width: 24em;
    margin-bottom: 10px;
    margin-top: -3em;
}

.apple-icon{
    position: relative;
    bottom: 0.12em;
    right: 0.5em;
    border-radius: 0.5em;
    height: 2.1em;
    width: 2.1em;
    opacity: 45%;
}

.apple-icon:hover{
    opacity: 100%;
    transition: 0.2s;
}

.apple-button{
    height: 2.2em;
    width: 24em;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: black;
    border: 1px solid black;
    color: white;
}

.line{
    width: 20.2em;
    border: 1px solid black;
    position: relative;
    left: 4.25em;
    margin-top: 22px;
}

.log-in-with{
    display: inline-block;
    margin-top: 2em;
    color: black;
    background-color: white;
    width: 10%;
    position: relative;
    bottom: 2.66em;
}

.para{
    display: inline-block;
    position: relative;
    bottom: 0.8em;
    left: 0.5em;

}