@media(width < 400px) {
    .button-1{
       display: none;
    }
    header{
      height: 5em;
      background: linear-gradient(to right,#FFFFFF 30%,#D1D5F0);
    }
    .logo{
     height: 100%;
      margin: 1em 0em 0em -1.6em;
     
    }
    .hero-section{
      display: flex;
      height: 35em;
      background: linear-gradient(to right,#D1D5F0,#FFFFFF );
    }
    .image-hero{
       width: 100%;
       height: 50%;
       position: relative;
       right: 5em;
    }
    .content{
  height: fit-content;
  translate: -8.5em;
    }
    .content-text{
      
    }
    .content-btn{
      margin-top: 3em;
    }
    .three-line{
      width: 2em;
      height: 0.17em;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
      
    }
    .menu-button{
      position: relative;
      left: 4em;
    }
  }